*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image:linear-gradient(#D8C7FF,#19006C);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'poppins';
  overflow-y: hidden;

}